.container {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-template-rows: 100px 50px;
  grid-template-areas:
    'cover album'
    'footer footer';
  height: 150px;
  width: 350px;
}

.cover {
  grid-area: cover;
}

img {
  border-radius: 10px 0px 0px 0px;
}
.album {
  grid-area: album;
  padding-top: 4%;
  padding-left: 20px;
  line-height: 0%;
  border-bottom: 1px solid rgb(145, 145, 145);
}

footer {
  grid-area: footer;
}

.cover {
  width: 100px;
  height: 100px;
}

.album h2 {
  color: rgb(102, 102, 102);
  padding-bottom: 2.5%;
}

.album h3 {
  font-weight: 500;
  font-size: 1em;
  line-height: 4px;
  color: rgb(102, 102, 102);
}

.container {
  margin: 10px;
  box-shadow: -10px 13px 25px -6px rgba(145, 145, 145, 0.37);
  border: 1px solid rgb(201, 201, 201, 0.4);
  border-radius: 10px;
}
